.login-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-logo {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: #f8fafc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.username-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  font-size: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #7e858e;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border-style: solid;
  border-color: #94a3b8;
  border-width: 1px;
  border-radius: 3px;
  color: #94a3b8;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.show {
  font-size: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #1e293b;
}

.checkbox {
  font-size: 30px;
}

.login-button {
  width: 100%;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: Roboto;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-width: 0px;
}

.login-bg-dark {
  background-color: #212121;
}

.form-bg-dark {
  background-color: #0f0f0f;
}

.label-light {
  color: #f8fafc;
}

.input-dark {
  background-color: transparent;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.error {
  color: #ff0b37;
  font-family: Roboto;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    width: 400px;
  }
}
